@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
    accent-color: #CB2027;
  }

  ::selection {
    background-color: #CB2027;
    color: white;
  }
}
  
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #CB2027; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #A01A1F; 
  }